body{
    background-color: while;
}
.gg{
    position: absolute;
    right: 150px;
    top: 10px; 
    color: transparent;
    display: inline;
    list-style: 24px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 24px;
    line-height: normal;
    padding-left: 15px;
    white-space: nowrap;
    line-height: 24px;
    width: 35.9531px;

}
.gh{
    position: absolute;
    right: 100px;
    top: 10px; 
    color: transparent;
    display: inline;
    list-style: 24px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 24px;
    line-height: normal;
    padding-left: 15px;
    white-space: nowrap;
    line-height: 24px;
    width: 35.9531px;

}
.gj{
    position: absolute;
    right: 50px;
    top: 10px; 
    display: inline;
    list-style: 24px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 24px;
    line-height: normal;
    padding-left: 15px;
    white-space: nowrap;
    line-height: 24px;
    width: 35.9531px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
  }
  form
  {
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font: outline;
        list-style: circle;
  }
  input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }
